@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: blueviolet;
  font-size: 24px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: aliceblue;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: aliceblue;
  border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
  background-color: aliceblue;
  color: white;
  font-size: 50px;
}

.header_container {
  position: flex;
  
  background: url(../materials/bg.jpg) no-repeat fixed center;
  background-size: cover;
  font-size: 50px;
  color: white;
  
}

body{
  background-color: black;
  margin: auto;
}

p{
  font-family: 'Kiwi Maru', serif;
font-weight: 300;
  text-size: 12px;
  
}

h1{
   text-align: center;
  font-family: 'Kiwi Maru', serif;
  font-size: 16px;
}

.hide{
  background-color: rgba(0,0,0,0.6);
  border-radius: 5px;
  text-aligh: center;
  position: absolute;
  margin: 0 auto;
padding: 10px 20px;
  border: 1px solid #644666;
  font-size: 12px;
}

.EurAsia-txt{
  top: 20%;
  left: 60%;
  background-color: white;
}

.africa-txt{
  top: 34%;
  left: 53%;
  background-color: white;

}

.northAmerica-txt{
  top: 23.5%;
  left: 37.5%;
  background-color: white;
}

.southAmerica-txt{
  top: 42%;
  left: 41.5%;
  background-color: white;
}

.northPole-txt{
  top: 10%;
  left: 51%;
  background-color: white;
}

.globe-svg {
    display:flex;
    align-items:center;
    justify-content:center;
    vertical-align: center;
}
