body{
  background-color: black;
  margin: auto;
}

p{
  font-family: 'Kiwi Maru', serif;
font-weight: 300;
  text-size: 12px;
  
}

h1{
   text-align: center;
  font-family: 'Kiwi Maru', serif;
  font-size: 16px;
}

.hide{
  background-color: rgba(0,0,0,0.6);
  border-radius: 5px;
  text-aligh: center;
  position: absolute;
  margin: 0 auto;
padding: 10px 20px;
  border: 1px solid #644666;
  font-size: 12px;
}

.EurAsia-txt{
  top: 20%;
  left: 60%;
  background-color: white;
}

.africa-txt{
  top: 25%;
  left: 28%;
  background-color: white;

}

.northAmerica-txt{
  top: 25%;
  left: 9%;
  background-color: white;
}

.southAmerica-txt{
  top: 50%;
  left: 18%;
  background-color: white;
}

.northPole-txt{
  top: 10%;
  left: 23%;
  background-color: white;
}

.globe-svg {
    display:flex;
    align-items:center;
    justify-content:center;
    vertical-align: center;
}
.header_container {
  position: flex;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(../materials/bg.jpg) no-repeat fixed center;
  background-size: cover;
  z-index: 2;
}